In [4]:
import sqlalchemy as sa
from sqlalchemy.types import TIMESTAMP
from sqlalchemy import create_engine
import numpy as np
# import pandas as pd
from time import time
import os
from copy import deepcopy
from functools import reduce

import psycopg2
import psycopg2.extensions
from psycopg2.extras import LoggingConnection, LoggingCursor
import logging

import glob

In [ ]:
from IPython.html.ser

## Resource
### PostgreSQL Integration with Jupyter Notebook
https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d#:~:text=Jupyter%20Notebook%20is%20a%20great,query%20the%20database%20from%20there

In [5]:
%load_ext sql

In [ ]:
## Format
# %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://teemo:lolpass123@localhost/opensky

In [ ]:
conn = psycopg2.connect(database="opensky", 
                        user = "teemo", 
                        password = "lolpass123", 
                        host = "localhost", port = "5432")

In [ ]:
%%sql

DROP TABLE IF EXISTS flights;

CREATE TABLE flights(
    et              bigint,
    icao24          varchar(20),
    lat             float,
    lon             float,
    velocity        float,
    heading         float,
    vertrate        float,
    callsign        varchar(10),
    onground        boolean,
    alert           boolean,
    spi             boolean,
    squawk          integer,
    baroaltitude    numeric(7,2),
    geoaltitude     numeric(7,2),
    lastposupdate   numeric(13,3),
    lastcontact     numeric(13,3)
);

For ismail's computer. There is some permissioning issue, due to which postgres cannot access files in teemo-home.

#### To upload data from a single file

In [ ]:
%%sql

COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, 
             baroaltitude, geoaltitude, lastposupdate, lastcontact)
FROM '/tmp/states_2020-06-01-00.csv' 
DELIMITER  ',' CSV HEADER;

#### To load all the data

In [ ]:
path = "/tmp/OpenSky Data"

try:
    print("Opened database successfully")
    cur = conn.cursor()

    for directory in os.listdir(path):
        if directory.endswith(".csv"):
            directory_path = os.path.join(path,directory)
            for fname in os.listdir(directory_path):
                if fname.endswith(".csv"):
                    fname_path = os.path.join(directory_path,fname)
                    copy_command = f'''
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '{fname_path}' DELIMITER  ',' CSV HEADER;'''

                    cur.execute(copy_command)
                    conn.commit()
                    print(f"Added csv from {copy_command}")
    print("Data import complete!")
except Exception as e:
    print(f"some error: {e}!!!")
finally:
    conn.close()

In [ ]:
%%sql
ALTER TABLE flights
    ADD COLUMN et_ts timestamp, 
    ADD COLUMN lastposupdate_ts timestamp,
    ADD COLUMN lastcontact_ts timestamp;
    
UPDATE flights
    SET et_ts = to_timestamp(et),
        lastposupdate_ts = to_timestamp(lastposupdate),
        lastcontact_ts = to_timestamp(lastcontact);

#### Size of the table 'flights'

In [ ]:
%%sql
SELECT count(*) flights;
SELECT pg_size_pretty( pg_total_relation_size('flights') );

Since this table is too big, we'll create a materialized view to work on a subsection of it.

In [ ]:
%%sql

DROP MATERIALIZED VIEW IF EXISTS sample;

CREATE MATERIALIZED VIEW sample AS
    SELECT *
    FROM flights
    WHERE icao24 IN ('49003a', '3c3d0d', '447aa8', '3c83bb', 'a1e302');
    
SELECT pg_size_pretty( pg_total_relation_size('sample') );

What is the best practice if I want to perform some kind of operation of a column in SQL database. 
E.g.transforiming a bigint column that contains unix timestam to timestamp datatype.

In [ ]:
%%sql
SELECT * 
FROM flights 
ORDER BY lat
LIMIT 5;

In [ ]:
%%sql
SELECT * 
FROM flights 
ORDER BY lat
LIMIT 5;

### Data Cleaning

Looking for NULL 'icao24'

In [ ]:
# -- dangerous query 
SELECT icao24, COUNT(lat)
FROM flights
GROUP BY icao24
HAVING COUNT(lat) = 0;

In [ ]:
%%sql

-- Selets Distinct icaos
WITH distinct_icao24 AS (
    SELECT DISTINCT icao24
    FROM flights)

-- Counts the distinct icaos
SELECT COUNT(icao24)
FROM distinct_icao24;

In [6]:
conn = psycopg2.connect(database="opensky", 
                        user = "teemo", 
                        password = "lolpass123", 
                        host = "localhost", port = "5432")

In [4]:
%%sql

DROP TABLE IF EXISTS flights;

CREATE TABLE flights(
    et              bigint,
    icao24          varchar(20),
    lat             float,
    lon             float,
    velocity        float,
    heading         float,
    vertrate        float,
    callsign        varchar(10),
    onground        boolean,
    alert           boolean,
    spi             boolean,
    squawk          integer,
    baroaltitude    numeric(7,2),
    geoaltitude     numeric(7,2),
    lastposupdate   numeric(13,3),
    lastcontact     numeric(13,3)
);

 * postgresql://teemo:***@localhost/opensky
Done.
Done.

[]

For ismail's computer. There is some permissioning issue, due to which postgres cannot access files in teemo-home.

#### To upload data from a single file

In [31]:
%%sql

COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, 
             baroaltitude, geoaltitude, lastposupdate, lastcontact)
FROM '/tmp/states_2020-06-01-00.csv' 
DELIMITER  ',' CSV HEADER;

   postgresql://mobi:***@localhost/danishais
 * postgresql://teemo:***@localhost/opensky
926545 rows affected.

[]

#### To load all the data

In [7]:
path = "/tmp/OpenSky Data"

try:
    print("Opened database successfully")
    cur = conn.cursor()

    for directory in os.listdir(path):
        if directory.endswith(".csv"):
            directory_path = os.path.join(path,directory)
            for fname in os.listdir(directory_path):
                if fname.endswith(".csv"):
                    fname_path = os.path.join(directory_path,fname)
                    copy_command = f'''
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '{fname_path}' DELIMITER  ',' CSV HEADER;'''

                    cur.execute(copy_command)
                    conn.commit()
                    print(f"Added csv from {copy_command}")
    print("Data import complete!")
except Exception as e:
    print(f"some error: {e}!!!")
finally:
    conn.close()

Opened database successfully
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-20.csv/states_2020-06-01-20.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-11.csv/states_2020-06-01-11.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-16.csv/states_2020-06-01-16.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-00.csv/states_2020-06-01-00.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-12.csv/states_2020-06-01-12.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-13.csv/states_2020-06-01-13.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-07.csv/states_2020-06-01-07.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-21.csv/states_2020-06-01-21.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-23.csv/states_2020-06-01-23.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-01.csv/states_2020-06-01-01.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-06.csv/states_2020-06-01-06.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-19.csv/states_2020-06-01-19.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-02.csv/states_2020-06-01-02.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-15.csv/states_2020-06-01-15.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-05.csv/states_2020-06-01-05.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-04.csv/states_2020-06-01-04.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-14.csv/states_2020-06-01-14.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-18.csv/states_2020-06-01-18.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-17.csv/states_2020-06-01-17.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-09.csv/states_2020-06-01-09.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-03.csv/states_2020-06-01-03.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-08.csv/states_2020-06-01-08.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-22.csv/states_2020-06-01-22.csv' DELIMITER  ',' CSV HEADER;
Added csv from
                        COPY flights(et, icao24, lat, lon, velocity, heading, vertrate, callsign, onground, alert, spi, squawk, baroaltitude, geoaltitude, lastposupdate, lastcontact)
                        FROM '/tmp/OpenSky Data/states_2020-06-01-10.csv/states_2020-06-01-10.csv' DELIMITER  ',' CSV HEADER;
Data import complete!

In [ ]:
%%sql
ALTER TABLE flights
    ADD COLUMN et_ts timestamp, 
    ADD COLUMN lastposupdate_ts timestamp,
    ADD COLUMN lastcontact_ts timestamp;
    
UPDATE flights
    SET et_ts = to_timestamp(et),
        lastposupdate_ts = to_timestamp(lastposupdate),
        lastcontact_ts = to_timestamp(lastcontact);

#### Size of the table 'flights'

In [15]:
%%sql
SELECT count(*) flights;
SELECT pg_size_pretty( pg_total_relation_size('flights') );

 * postgresql://teemo:***@localhost/opensky
1 rows affected.
1 rows affected.

[('6789 MB',)]

Since this table is too big, we'll create a materialized view to work on a subsection of it.

In [12]:
%%sql

DROP MATERIALIZED VIEW IF EXISTS sample;

CREATE MATERIALIZED VIEW sample AS
    SELECT *
    FROM flights
    WHERE icao24 IN ('49003a', '3c3d0d', '447aa8', '3c83bb', 'a1e302');
    
SELECT pg_size_pretty( pg_total_relation_size('sample') );

 * postgresql://teemo:***@localhost/opensky
Done.
33749 rows affected.
1 rows affected.

[('3136 kB',)]

What is the best practice if I want to perform some kind of operation of a column in SQL database. 
E.g.transforiming a bigint column that contains unix timestam to timestamp datatype.

In [32]:
%%sql
SELECT * 
FROM flights 
ORDER BY lat
LIMIT 5;

   postgresql://mobi:***@localhost/danishais
 * postgresql://teemo:***@localhost/opensky
5 rows affected.

[(1590972170, 'c827a6', -45.549549167439125, 170.86919403076172, 209.30854478954072, 48.986292843660905, 12.354560000000001, 'ANZ1272 ', False, False, False, 5540, 5577.84, 5631.18, 1590972169.898, 1590972169.898),
 (1590972180, 'c827a6', -45.5379638671875, 170.88814871651786, 210.42268917015218, 49.06444578222683, 11.3792, 'ANZ1272 ', False, False, False, 5540, 5684.52, 5715.0, 1590972178.912, 1590972179.202),
 (1590972190, 'c827a6', -45.525421142578125, 170.90868268694197, 211.1483993708683, 49.05045305570859, 12.354560000000001, 'ANZ1272 ', False, False, False, 5540, 5814.06, 5844.540000000001, 1590972188.904, 1590972189.785),
 (1590972200, 'c827a6', -45.51319885253906, 170.92869349888392, 211.48591991899605, 48.94518622903757, 10.72896, 'ANZ1272 ', False, False, False, 5540, 5928.360000000001, 5974.080000000001, 1590972198.935, 1590972199.498),
 (1590972210, 'c827a6', -45.499237060546875, 170.95145089285714, 213.32560450593505, 49.00904610819326, 10.40384, 'ANZ1272 ', False, False, False, 5540, 6035.04, 6088.38, 1590972209.954, 1590972209.954)]

In [35]:
%%sql
SELECT * 
FROM flights 
ORDER BY lat
LIMIT 5;

   postgresql://mobi:***@localhost/danishais
 * postgresql://teemo:***@localhost/opensky
5 rows affected.

[(1590972170, 'c827a6', -45.549549167439125, 170.86919403076172, 209.30854478954072, 48.986292843660905, 12.354560000000001, 'ANZ1272 ', False, False, False, 5540, 5577.84, 5631.18, 1590972169.898, 1590972169.898, datetime.datetime(2020, 6, 1, 2, 42, 50), datetime.datetime(2020, 6, 1, 2, 42, 49, 898000), datetime.datetime(2020, 6, 1, 2, 42, 49, 898000)),
 (1590972180, 'c827a6', -45.5379638671875, 170.88814871651786, 210.42268917015218, 49.06444578222683, 11.3792, 'ANZ1272 ', False, False, False, 5540, 5684.52, 5715.0, 1590972178.912, 1590972179.202, datetime.datetime(2020, 6, 1, 2, 43), datetime.datetime(2020, 6, 1, 2, 42, 58, 912000), datetime.datetime(2020, 6, 1, 2, 42, 59, 202000)),
 (1590972190, 'c827a6', -45.525421142578125, 170.90868268694197, 211.1483993708683, 49.05045305570859, 12.354560000000001, 'ANZ1272 ', False, False, False, 5540, 5814.06, 5844.540000000001, 1590972188.904, 1590972189.785, datetime.datetime(2020, 6, 1, 2, 43, 10), datetime.datetime(2020, 6, 1, 2, 43, 8, 904000), datetime.datetime(2020, 6, 1, 2, 43, 9, 785000)),
 (1590972200, 'c827a6', -45.51319885253906, 170.92869349888392, 211.48591991899605, 48.94518622903757, 10.72896, 'ANZ1272 ', False, False, False, 5540, 5928.360000000001, 5974.080000000001, 1590972198.935, 1590972199.498, datetime.datetime(2020, 6, 1, 2, 43, 20), datetime.datetime(2020, 6, 1, 2, 43, 18, 935000), datetime.datetime(2020, 6, 1, 2, 43, 19, 498000)),
 (1590972210, 'c827a6', -45.499237060546875, 170.95145089285714, 213.32560450593505, 49.00904610819326, 10.40384, 'ANZ1272 ', False, False, False, 5540, 6035.04, 6088.38, 1590972209.954, 1590972209.954, datetime.datetime(2020, 6, 1, 2, 43, 30), datetime.datetime(2020, 6, 1, 2, 43, 29, 954000), datetime.datetime(2020, 6, 1, 2, 43, 29, 954000))]

### Data Cleaning

Looking for NULL 'icao24'

In [ ]:
# -- dangerous query 
SELECT icao24, COUNT(lat)
FROM flights
GROUP BY icao24
HAVING COUNT(lat) = 0;

In [ ]:
%%sql

-- Selets Distinct icaos
WITH distinct_icao24 AS (
    SELECT DISTINCT icao24
    FROM flights)

-- Counts the distinct icaos
SELECT COUNT(icao24)
FROM distinct_icao24;

### Create Index 
This index will speed up creation of trajectories

In [7]:
%%sql
CREATE INDEX icao24_time_index
    ON flights (icao24, et_ts);

 * postgresql://teemo:***@localhost/opensky
Done.

[]